# Python
__pycache__/
*.py[cod]
*.so
.Python
*.pyc
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Modèles et données
*.pkl
*.pickle
*.joblib
*.csv
!dataset/*.csv

# Environnement
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs et rapports
*.log
*.pdf
*.html